@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #272727;
  font-family: "Montserrat", sans-serif;
}

.navMenu {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
}

.navMenu a {
  color: #f6f4e6;
  text-decoration: none;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  width: 160px;
  text-align: center;
}

.navMenu a:hover {
  color: #fddb3a;
}

.navMenu .dot {
  position: absolute;
  top: -10px;
  width: 6px;
  height: 6px;
  background: #fddb3a;
  border-radius: 50%;
  opacity: 0;
  -webkit-transition: left 0.2s ease-in-out;
  transition: left 0.2s ease-in-out;
}

.navMenu a:nth-child(1):hover ~ .dot {
  left: 77px;
  opacity: 1;
}

.navMenu a:nth-child(2):hover ~ .dot {
  left: 237px;
  opacity: 1;
}

.navMenu a:nth-child(3):hover ~ .dot {
  left: 397px;
  opacity: 1;
}
