@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

* {
  outline: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background: #f7f7f7 url("abstract-bg-1.png") no-repeat center center;
  background-size: cover;
  padding: 40px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0;
}

.card {
  border-radius: 4px;
  background: #f7f7f7;
  border: 4px solid rgba(#0f0f0f, 0.75);
  width: 640px;

  .card-header {
    position: relative;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    line-height: 1.2;
    //text-align: center;
    padding: 48px;
    background: #fff;
    margin: 0;

    a.back {
      position: absolute;
      right: 48px;
      top: 48px;
      display: block;
      color: #979797;
      text-decoration: none;
      transition: 0.15s ease-in-out;

      &:hover {
        color: #0f0f0f;
      }

      svg {
        display: block;
        width: 24px;
        height: 24px;
      }
    }
  }
  .wpwl-title {
    font-size: 32px;
    font-weight: 300;
    margin-bottom: 24px;
    color: #0f0f0f;
  }
  .wpwl-subtitle {
    font-size: 16px;
    font-weight: 300;
    color: #979797;
    letter-spacing: 0.05em;
  }

  .wpwl-subtitle strong {
    color: #0aaeba;
    font-weight: 500;
  }
}

.wpwl-form {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  max-width: 100%;
  padding: 48px;
}

.wpwl-group {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.4;
  width: 100%;
  margin-bottom: 12px;
  box-sizing: border-box;
  color: #979797;
}

.wpwl-control,
input.wpwl-control {
  background: white;
  font-family: "Roboto", sans-serif !important;
  font-weight: 300;
  text-transform: none;
  padding: 4px 10px;
  font-size: 16px;
  height: 46px;
  border-width: 1px;
  border-style: solid;
  border-color: #e5e5e5 !important;
  border-radius: 4px;

  &:placeholder {
    color: #979797;
    opacity: 1;
  }
}

.wpwl-form *:before,
.wpwl-form *:after {
  display: none;
}
.wpwl-wrapper {
  width: 100%;
}
.wpwl-group-brand {
  display: none;
}

.wpwl-group-cardNumber {
  flex: 1;
}
.wpwl-group-cardNumber:before {
  content: "";
  display: block;
  width: 20px;
  background: url("card.png") no-repeat center center;
  background-size: contain;
  position: absolute;
  left: 10px;
  top: 0;
  bottom: 0;
  z-index: 2;
  opacity: 0.5;
}
.wpwl-group-expiry,
.wpwl-group-cvv {
  width: 96px;
}

.wpwl-group-cardNumber input.wpwl-control,
.wpwl-group-cardNumber .wpwl-control {
  border-right: 0;
  padding-left: 36px;
  border-radius: 4px 0 0 4px;
}
.wpwl-group-expiry input.wpwl-control,
.wpwl-group-expiry .wpwl-control {
  //border-left: 0;
  border-right: 0;
  //text-align: center;
  border-radius: 0;
  padding: 0 0 0 10px;
}
.wpwl-group-cvv input.wpwl-control,
.wpwl-group-cvv .wpwl-control {
  //border-left: 0;
  //text-align: center;
  border-radius: 0 4px 4px 0;
  padding: 0 0 0 10px;
}

.wpwl-group-product {
  padding: 32px 0;
  .wpwl-product-info {
    font-weight: 300;
  }

  .wpwl-product {
    display: flex;
    align-items: center;
    white-space: nowrap;
    margin-bottom: 4px;
    font-size: 16px;
    color: #505050;

    .name {
      flex: 1;
      font-weight: 500;
    }
  }
}

.wpwl-hint {
  display: none;
}

.wpwl-group-submit {
  margin-bottom: 0;
}

.wpwl-button-pay {
  display: block;
  text-align: center;
  width: 100%;
  color: #ffffff;
  background: #0aaeba;
  position: relative;
  border: 0 !important;
  outline: 0 !important;
  padding: 15px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.05em;
  line-height: 1;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  transition: 0.15s ease-in-out;
}
.wpwl-button:hover,
.wpwl-button:focus {
  background: #07868f;
}
.wpwl-button-error[disabled],
.wpwl-button-error[disabled]:hover,
.wpwl-button-error[disabled]:focus,
.wpwl-button-error[disabled]:active {
  background: #0aaeba;
  opacity: 0.5;
  cursor: default;
}
.wpwl-has-error,
.wpwl-has-error input {
  color: #e7428c !important;
  box-shadow: inset 0 0 0 1px #e7428c !important;

  &::placeholder {
    color: #e7428c !important;
  }
}
